//Simple tool to write config.json:
require('config-reader').updateConfig({
  domains: {
    'example.com': {
      type: 'backend', //see 'backends/' folder in this repo
      application: 'known',
      otherEmail: 'user@gmail.com',
      backendEnv: {
      }
    },
    'example2.com': {
      type: 'static-pull',
      repo: 'https://github.com/michielbdejong/website',
      folder: 'public/',
      otherEmail: 'user@gmail.com'
    }
  },
  backupServers: {
    origin: 'git@backmeup.com',
    secondary: 'ssh://me@atlanta.biz:422/home/me'
  },
  images: {
    upstream: ['debian:jessie'],
    intermediate: [ 'lamp' ],
    target: ['wordpress']//here you can disable the ones you don't use
  }
});
