//Simple tool to write config.json:
var config = {
  domains: {
    'example.com': {
      type: 'backend', //see 'backends/' folder in this repo
      application: 'known',
      otherEmail: 'user@gmail.com'
    },
    'example2.com': {
      type: 'static-pull',
      repo: 'https://github.com/michielbdejong/website',
      folder: 'public/',
      otherEmail: 'user@gmail.com'
    }
  },
  backupServers: {
    origin: 'git@backmeup.com',
    secondary: 'ssh://me@atlanta.biz:422/home/me'
  }
};
require('fs').writeFile('config.json', JSON.stringify(config));
